
       <div class="container-full">

        <div class="row">
       <div class="col-lg-12 text-center v-center">
          
          
          <h2>Customer support follow up</h2>
          
          <br>
          </div>
       </div> <!-- /row -->


    <div class="container" >

               <form name= "csfuform" ng-controller="customer_follow_up">

                <div class="col-sm-4" >

                  <p>Q. &nbsp; How satisfied are you overall with our customer support.</p>

                 <div class="radio">
                   <label><input type="radio" name="custsupport" value="Very satisfied" ng-model="support_follow.custsupport"> Very satisfied</label>
                 </div>
                 <div class="radio">
                   <label><input type="radio" name="custsupport" value="Somewhat satisfied" ng-model="support_follow.custsupport">Somewhat satisfied</label>
                 </div>
                  <div class="radio">
                   <label><input type="radio" name="custsupport" value="Neutral" ng-model="support_follow.custsupport"> Neutral</label>
                 </div>
                  <div class="radio">
                   <label><input type="radio" name="custsupport" value="Somewhat dissatisfied" ng-model="support_follow.custsupport"> Somewhat dissatisfied</label>
                 </div>
                  <div class="radio">
                   <label><input type="radio" name="custsupport" value="Very dissatisfied" ng-model="support_follow.custsupport"> Very dissatisfied</label>
                 </div>
                </div>
                <div class="col-sm-4" >  
                  <p> Q. &nbsp; How satisfied were you with how the support staff resolved your most recent problem.</p>
                     <div class="checkbox">
                       <label><input type="checkbox" id="chk1" value="Service A" ng-model="support_follow.services_a" ng-false-value="'no'" ng-true-value="'yes'">Service A</label>
                     </div>
                     <div class="checkbox">
                       <label><input type="checkbox"  id="chk2" value="Service B" ng-model="support_follow.services_b" ng-false-value="'no'" ng-true-value="'yes'">Service B</label>
                     </div>
                     <div class="checkbox">
                       <label><input type="checkbox" id="chk3" value="Service C" ng-model="support_follow.services_c" ng-false-value="'no'" ng-true-value="'yes'">Service C</label>
                     </div>
                     <div class="checkbox">
                       <label><input type="checkbox" id="chk4" value="Service D" ng-model="support_follow.services_d" ng-false-value="'no'" ng-true-value="'yes'">Service D</label>
                     </div>
                  </div>
                   

                <div class="col-sm-4" >  
                 <p>Q. &nbsp; Text box for Comments </p>
                 <textarea rows="4" name="comment" cols="40" ng-model="support_follow.comment" maxlength="600">
                       
                 </textarea>
                </div>
                <br><br>

                 <div class="col-sm-4 v-center" >  
                  <button type="button" class="btn btn-primary"
                   ng-click="customer_follow_up_data(support_follow)">Submit</button>
                  </div>

              
                </form>

           </div>

    </div> <!-- /container full -->
                 
<footer class="footer">  
<ul class="nav nav-tabs pull-right" style="margin-right: 100px; bottom: 100px">
     <li><a href="#about_us"><b>About Us</b></a></li>
     <li><a href="#contact_us"><b>Contact Us</b></a></li>
    <li></li>
  </ul>
    </footer>
    