
<div class="container-full" ng-controller="SurveyForm">
        <div class="row">
       <div class="col-lg-12 text-center v-center">
          <h2>survey details</h2>
          </div>
          <center> <h4 class="lead">Evaluation Criteria</h4></center>
           <center> <h4 class="lead">5 = Far Exceeds, 4 = Exceeds, 3=Fully Meets,2 =partial, 1 = aaaaa</h4></center>
       </div> <!-- /row -->

  <br><br>
    <div class="container" >

    <form name= "demoForm" >

    <div class="col-sm-3" >
    </div>
                 <div class="col-sm-6" >
                   <table class="table">
                   <tr>
                      <td>
                          <div class="form-group">
                            <label for="name">&nbsp;Understands Our Objectives/Expectations</label>
                         </div>
                      </td>
                      <td>
                          <div class="form-group">
                            <select class="form-control btn-default" id="Question1" name="Objectives" ng-model="SurveyForm.Objectives" >
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>                             
                          </div>
                      </td>
                    </tr>
                    <tr>
                       <td>
                          <div class="form-group">
                            <label for="name">&nbsp;Expertise</label>
                             </div>
                          </td>
                          <td>
                            <div class="form-group">
                               <select class="form-control btn-default" id="Question2" name="Expertise" ng-model="SurveyForm.Expertise">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option> 
                                  <option>5</option>
                              </select>                          
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                           <div class="form-group">
                            <label for="name">&nbsp;Responsiveness / Communications</label>
                            </div>
                         </td>
                         <td>
                            <div class="form-group">
                              <select class="form-control btn-default" id="Questions3" name="Responsiveness" ng-model="SurveyForm.Responsiveness" >
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option> 
                                <option>5</option> 
                              </select>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-group">
                              <label for="name">Q.&nbsp;Efficiancy / Process Management</label>
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <select class="form-control btn-default" id="Questions4" name="Efficiancy" ng-model="SurveyForm.Efficiancy">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option> 
                                <option>4</option> 
                                <option>5</option>
                              </select>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                           <div class="form-group">
                              <label for="name">XYZ</label>
                          </div>
                         </td>
                         <td>
                            <div class="form-group">                             
                              Option1&nbsp;<input type="radio" name="radio1"  value="1"  ng-model="SurveyForm.XYZ">
                              Option2&nbsp;<input type="radio" name="radio1"  value="2"  ng-model="SurveyForm.XYZ">
                              Option3&nbsp;<input type="radio" name="radio1"  value="3"  ng-model="SurveyForm.XYZ">
                              Option4&nbsp;<input type="radio" name="radio1"  value="4"  ng-model="SurveyForm.XYZ">
                            </div>
                          </td>
                        
                       <input type="hidden" ng-Model="SurveyForm.firmID"  />
                        <input type="hidden" ng-Model="SurveyForm.userID" /></tr>
                      </table>
                      <center>
                        <div class="form-group">
                          <button type="button" class="btn btn-default btn-md" ng-click="surveyFormData(SurveyForm)">Submit</button> 
                        </div>
                        </center>
                  </div>
                </form>

         </div>
    
 <!-- /container full -->

      </div>  
      <br><br><br>         
<footer class="footer-attr">  
<ul class="nav nav-tabs pull-right" style="margin-right: 100px; bottom: 100px">
     <li><a href="#login"><b>login</b></a></li>
     <li><a href="#about_us"><b>About Us</b></a></li>
     <li><a href="#contact_us"><b>Contact Us</b></a></li>
    <li></li>
  </ul>
    </footer>

     