<style>
   input.ng-invalid{border: 1px solid red;}
   </style>

<div class="container-full">
        <div class="row">
       <div class="col-lg-12 text-center v-center">
          <h2>User Account Creation</h2>
          </div>
          <center> <h4 class="lead">Please Provide Your Info</h4></center>
       </div> <!-- /row -->

  
  	<div class="container" >

    <form name= "demoForm" ng-controller="user_account">
                 <div class="col-sm-6" >
                   
                        <div class="form-group">
                          <label for="name">Q.&nbsp;Company Name&nbsp;<font color=red>★</font></label>&nbsp&nbsp
                          <span ng-show="demoForm.cname.$error.required">! Required</span>
                          <input type="text" class="form-control" id="name" name="companyName" placeholder="Company Name" ng-model="userAccount.companyName" required >
                           
                        </div>

                         <div class="form-group">
                          <label for="phno"> Q.&nbsp;Mobile / Phone Number</label>
                          <input type="text" class="form-control" id="phno" name="mobile" placeholder="Mobile / Phone Number " ng-model="userAccount.mobile"  ng-minlength="5" ng-maxlength="12">
                        </div>


                         <div class="form-group">
                          <label for="phname"> Q.&nbsp;Desk Phone Number</label>
                          <input type="text" class="form-control" id="phname" name="deskPhone" placeholder="Phone Number" ng-model="userAccount.deskPhone" ng-minlength="5" ng-maxlength="12">
                        </div>


                         <div class="form-group">
                          <label for="add1">Q.&nbsp;Address - Line 1</label>
                          <input type="text" class="form-control" id="add1" name="addressLine1" placeholder="Address - Line 1" ng-model="userAccount.addressLine1">
                        </div>


                          <div class="form-group">
                          <label for="add2">Q.&nbsp; Address - Line 2</label>
                          <input type="text" class="form-control" id="add2" name="addressLine2" placeholder="Address - Line 2" ng-model="userAccount.addressLine2">
                        </div>



                         <div class="form-group">
                          <label for="addc">Q.&nbsp; Country&nbsp;<font color=red>★</font></label>&nbsp&nbsp
                          <span ng-show="demoForm.addc.$error.required">! Required</span>
                          <input type="text" class="form-control" id="addc" name="country" placeholder="Country" ng-model="userAccount.country" required>
                        </div>
                        
                      
                      </div>


                <div class="col-sm-6" >  
                 
                       <div class="form-group">
                          <label for="Email">Q.&nbsp;Email Address&nbsp;<font color=red>★</font></label>&nbsp&nbsp
                          <span ng-show="demoForm.email.$error.required">! Required</span>
                          <span ng-show="demoForm.email.$dirty && demoForm.email.$error.email"> not an email !</span>
                          <input type="email" class="form-control" id="Email"  name="email" placeholder="Email Address" ng-model="userAccount.email" required>
                        </div>
                       
                       <div class="form-group">
                          <label for="contactname">Q.&nbsp; Contact Name would you like to use:</label>
                          <input type="text" class="form-control" id="contactname" name="contactname" placeholder="Contact Name " ng-model="userAccount.contactname">
                        </div>

                         <div class="form-group">
                          <label for="addcity"> Q.&nbsp;City</label>
                          <input type="text" class="form-control" id="addcity" name="city" placeholder="City" ng-model="userAccount.city">
                        </div>
                        

                         <div class="form-group">
                          <label for="addstate"> Q.&nbsp;State</label>
                          <select class="form-control" id="addstate" name="addstate"  
                          ng-model="userAccount.addstate">
                                      <option ng-repeat="data in myData" value="{{data.id}}">
                                              {{data.name}}
                                       </option>
                          </select> 
                          
                        </div>

                         <div class="form-group">
                          <label for="addzip"> Q.&nbsp;Zip</label>
                          <input type="text" class="form-control" id="addzip" name="zip" placeholder="Zip Code" ng-model="userAccount.zip">
                        </div>
                        
                        </br>
                        <div class="form-group">
                    


                      <!-- <input type="submit" class="btn btn-primary btn-md" ng-disabled="demoForm.$invalid"   ng-click=" user_account_data(userAccount)" onclick="user_account_creation();"value="Submit"/> -->


                      <button type="button" class="btn btn-primary btn-md" ng-click=" user_account_data(userAccount)" 
                     ng-disabled="demoForm.$invalid">Submit</button> 
                        </div>
                      </div>
                      

                      </form>

         </div>
    
  </div> <!-- /container full -->

                 
<footer class="footer">  
<ul class="nav nav-tabs pull-right" style="margin-right: 100px; bottom: 100px">
     <li><a href="#login"><b>login</b></a></li>
     <li><a href="#about_us"><b>About Us</b></a></li>
     <li><a href="#contact_us"><b>Contact Us</b></a></li>
    <li></li>
  </ul>
    </footer>